[submodule "packages/soda-extension"]
	path = packages/soda-extension
	url = https://github.com/platwin/soda-extension
[submodule "packages/soda-core"]
	path = packages/soda-core
	url = https://github.com/platwin/soda-core
[submodule "packages/facebook-kit"]
	path = packages/facebook-kit
	url = https://github.com/platwin/facebook-kit
[submodule "packages/twitter-kit"]
	path = packages/twitter-kit
	url = https://github.com/platwin/twitter-kit
[submodule "packages/soda-event-util"]
	path = packages/soda-event-util
	url = https://github.com/platwin/soda-event-util.git
[submodule "packages/soda-extension-sdk"]
	path = packages/soda-extension-sdk
	url = https://github.com/platwin/soda-extension-sdk.git
[submodule "packages/soda-nashmarket"]
	path = packages/soda-nashmarket
	url = https://github.com/platwin/soda-nashmarket.git
[submodule "packages/soda-media-sdk"]
	path = packages/soda-media-sdk
	url = https://github.com/platwin/soda-media-sdk.git
[submodule "packages/soda-mp-sdk"]
	path = packages/soda-mp-sdk
	url = https://github.com/platwin/soda-mp-sdk.git
[submodule "packages/soda-storage-sdk"]
	path = packages/soda-storage-sdk
	url = https://github.com/platwin/soda-storage-sdk.git
[submodule "packages/soda-asset"]
	path = packages/soda-asset
	url = https://github.com/platwin/soda-asset.git
[submodule "packages/soda-opensea"]
	path = packages/soda-opensea
	url = https://github.com/platwin/soda-opensea.git
[submodule "packages/soda-package-index"]
	path = packages/soda-package-index
	url = https://github.com/platwin/soda-package-index.git
[submodule "packages/soda-util"]
	path = packages/soda-util
	url = https://github.com/platwin/soda-util
[submodule "packages/soda-core-ui"]
	path = packages/soda-core-ui
	url = https://github.com/platwin/soda-core-ui
