[submodule "packages/soda-extension"]
	path = packages/soda-extension
	url = https://Plato-Twin@github.com/platwin/soda-extension
[submodule "packages/soda-core"]
	path = packages/soda-core
	url = https://Plato-Twin@github.com/platwin/soda-core
[submodule "packages/facebook-kit"]
	path = packages/facebook-kit
	url = https://Plato-Twin@github.com/platwin/facebook-kit
[submodule "packages/twitter-kit"]
	path = packages/twitter-kit
	url = https://Plato-Twin@github.com/platwin/twitter-kit
[submodule "packages/soda-extension-sdk"]
	path = packages/soda-extension-sdk
	url = https://github.com/platwin/soda-extension-sdk.git
[submodule "packages/soda-image-kit"]
	path = packages/soda-image-kit
	url = https://github.com/platwin/soda-image-kit.git
